{% extends 'base.html.twig' %}
{% block title %}
    About
{% endblock %}
{% block body %}
<a href="{{ notebooksUrl }}">Notebooks</a><br>
<a href="{{ path('category_show',{'slug':'tvs', 'page':5}) }}">TVs</a><br>
<a href="{{ path('category_show',{'slug':'media'}) }}">Media centers</a><br>

Last visited category {{ lastCategory }}
{% endblock %}