{% extends 'base.html.twig' %}
{% block title %}
    About
{% endblock %}
{% block body %}
    <div >
    <h4>Последняя посещенная категория: {{ lastCategory }}</h4>
    <h3>
        Категории:
    </h3>
    <a href="{{ notebooksUrl }}">Ноутбуки</a><br>
    <!--<a href="{{ path('category_show',{'slug':'tvs', 'page':5}) }}">TVs</a><br> -->
    <a href="{{ path('category_show',{'slug':'phones'}) }}">Телефоны</a><br>
    </div>
{% endblock %}