{% extends 'base.html.twig' %}
{% block title %}
   Category
{% endblock %}
{% block body %}

    Category: {{ category.name }}<br>
    Page:{{ page }}<br>

    <div class="row">
        {% include 'patrials/products.html.twig' with {'products' : category.products} %}
    </div>
{% endblock %}
