{% extends 'base.html.twig' %}
{% block title %}
  {{ category.name }}
{% endblock %}
{% block body %}

   <h3>Категория: {{ category.name }}<br></h3>
    Страница: {{ page }}<br>

    <div class="row">
        {% include 'patrials/products.html.twig' with {'products' : category.products} %}
    </div>
{% endblock %}
