{% for message in app.flashes('notice') %}
    <p>{{ message }}</p>
    <hr>
{% endfor %}
Category: {{ category.name }}<br>
Page:{{ page }}<br>

<a href="{{ path('category_message') }}">Add to cart</a>